* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
    left 0% /  20% no-repeat url("../images/banner.jpg"), 
    right 0% /  20% no-repeat url("../images/banner.jpg"),
    left 100% /  20% no-repeat url("../images/banner.jpg"),
    right 100% /  20% no-repeat url("../images/banner.jpg"),
    #eee 60% url("../images/image.png")
    ;
}

